name: Build Artifacts

on:
  push:
    tags:
      - 'v*'

# For packages and software in the ubuntu-latest runner image
# see https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2404-Readme.md
# For us, it already contains the JDK, Cargo and Python installations

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r27c
          add-to-path: false
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}

      - name: Install Rust targets for Android
        run: rustup target add aarch64-linux-android armv7-linux-androideabi i686-linux-android x86_64-linux-android

      - name: Build Rust code
        run:
          ./gradlew cargoBuild --stacktrace

      - name: Build AAR for sentence_embeddings module
        run: ./gradlew :sentence_embeddings:assembleRelease --stacktrace

      - name: Build AAR for model2vec module
        run: ./gradlew :model2vec:assembleRelease --stacktrace

      - name: Decode keystore
        env:
          ENCODED_STRING: ${{ secrets.KEYSTORE_BASE_64 }}
          RELEASE_KEYSTORE_PASSWORD: ${{ secrets.RELEASE_KEYSTORE_PASSWORD }}
          RELEASE_KEYSTORE_ALIAS: ${{ secrets.RELEASE_KEYSTORE_ALIAS }}
          RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
        run: |
          echo $ENCODED_STRING > keystore-b64.txt
          base64 -d keystore-b64.txt > keystore.jks

      - name: Build APK for app module
        env:
          RELEASE_KEYSTORE_PASSWORD: ${{ secrets.RELEASE_KEYSTORE_PASSWORD }}
          RELEASE_KEYSTORE_ALIAS: ${{ secrets.RELEASE_KEYSTORE_ALIAS }}
          RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
        run: ./gradlew :app:assembleRelease --stacktrace

      - name: Build APK for app-model2vec module
        env:
          RELEASE_KEYSTORE_PASSWORD: ${{ secrets.RELEASE_KEYSTORE_PASSWORD }}
          RELEASE_KEYSTORE_ALIAS: ${{ secrets.RELEASE_KEYSTORE_ALIAS }}
          RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
        run: ./gradlew :app-model2vec:assembleRelease --stacktrace

      - name: Create a release
        uses: actions/create-release@v1
        id: create_release
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
          prerelease: false
          body_path: CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Upload AAR for sentence_embeddings module to release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: sentence_embeddings/build/outputs/aar/sentence_embeddings-release.aar
          asset_name: sentence_embeddings.aar
          asset_content_type: application/octet-stream

      - name: Upload AAR for model2vec module to release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: model2vec/build/outputs/aar/model2vec-release.aar
          asset_name: model2vec.aar
          asset_content_type: application/octet-stream

      - name: Upload APK for app module to release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: app/build/outputs/apk/release/app-release.apk
          asset_name: app_${{ github.ref_name }}.apk
          asset_content_type: application/vnd.android.package-archive

      - name: Upload APK for app-model2vec module to release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: app-model2vec/build/outputs/apk/release/app-model2vec-release.apk
          asset_name: app_model2vec_${{ github.ref_name }}.apk
          asset_content_type: application/vnd.android.package-archive